.banner{
    position: relative;
}
.banner__container{
    height: 35rem;
    
    background-color: $colorPrimary;
}
.layouteffect{
  
        height: 20rem;
        position: relative;
        z-index: -1;
        top: 0rem;
        overflow: hidden;
        background: #fff;
}
.layouteffect__curve{
    background: #FFF;
    position: absolute;
    width: 100%;
    position: absolute;
    bottom: 9.4rem;
    transform: abs;
    background: #EF3340;
    /* height: 7rem; */
    height: 100%;
    /* left: -0.2rem; */
    transform: rotate(
7deg
);
    border-end-end-radius: 10rem;
        
}
.banner__content{
    display: grid;
    height: 100%;
    grid-template-columns: 60% 40%;
}
.banner__thumbnail{
    text-align: end;
}
header{
    padding: 1rem 0;
    border: 1px solid #FC606B;
}
.banner_img{
    position: absolute;
    right: 0;
}
.banner__content--relative{
    position: relative;
    top: 5rem;
    height: 100%;
}
.banner__title{
    font-size: 3.2rem;
    padding-bottom: 1.5rem;
    font-weight: 300;
}
.banner_desc{
    font-size: 1.6rem;
    font-weight: 300;
}   

.form__title{
    font-size: 2.4rem;
    font-weight: 400;
    color: #494F66;
    padding-bottom: 1.5rem;
}
.form__subtitle{
    font-size: 1.6rem;
    font-weight: 300;
    color: #676F8F;
    padding-bottom: 2.5rem;
}
.form__gridfield{
    display: grid;
    grid-template-columns: 30% 70%;
}

.form{
    & input[type="text"],input[type="date"],input[type="phone"],select{
        padding: 1.8rem 1rem;
        border: .1rem solid #C5CBE0;
        box-sizing: border-box;
        border-radius: .4rem;
        outline: none;
    }
    
}

.form_terms,.form__shipping{
    display: flex;
    align-items: flex-start;
    & label{
        font-size: 1.2rem;
        font-weight: 400;
        color: #A3ABCC;
    }
    .form__check {
        display: inline-grid;
        width: 1em;
        height: 1em;
        border-radius: 0.25em;
        border: 0.1em solid currentColor;
      }
}

.form__link{
    color: #A3ABCC;
    text-decoration: underline;
}
  
.form__submit{
    width: 100%;
    margin-top: 4rem;
    padding: 2rem 1rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    background-color: #EF3340;
    color: #fff;
    outline: none;
    cursor: pointer;
    margin-bottom: 4rem;
    border-radius: .8rem;
    border: none;
}


.footer__text{
    color: #676F8F;
    font-size: 1.2rem;
}


/* Styling Checkbox Starts */
.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
    border: 2px solid #C5CBE0;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #83CC5E;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #83CC5E;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #FFF;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
  	transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



/* For Ripple Effect */
.checkbox-label .checkbox-custom::before {
    position: absolute;
    content: "";
    left: 10px;
    top: 10px;
    width: 0px;
    height: 0px;
    border-radius: 5px;
    border: 2px solid #FFFFFF;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);	
}

.checkbox-label input:checked ~ .checkbox-custom::before {
    left: -3px;
    top: -3px;
    border-radius: 5px;
    -webkit-transform: scale(3);
    -ms-transform: scale(3);
    transform: scale(3);
    opacity:0;
    z-index: 999;
    transition: all 0.3s ease-out;
  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-ms-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
}
.banner__list,.text-footer--banner{
    display: none;
}
@media (min-width:765px){
    .banner__list,.text-footer--banner{
        display: block;
    }
    .form__title {
        font-size: 2.8rem;
    }
    .content-devide{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .form{
        padding:7rem 0rem  0 4rem;
    }
    .banner_img.desktop{
        right: -6rem;
    }
    .banner__title {
        font-size: 4.8rem;
        padding-bottom: 3rem;
    }
    .banner_desc{
        font-size: 1.6rem;
    }
    .banner__item{
        margin-bottom: 1.5rem;
    }
    .banner__item:last-of-type{
        margin-bottom: 0;
    }
    .banner__title {
        & span{
            display: block;
        }
    }
    .layouteffect{
        display: none;
    }
    .banner__container{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .banner__content--relative{
        top: 0;
    }
    .banner__content{
        padding-top: 4rem;   
    }
}
.banner__item{
    display: flex;
    & img{
        margin-right: 1rem;
    }
}
@media (min-width:1350px){
    .banner_img.desktop{
        right: -10rem;
    }
    .banner__content{
        padding-top: 8rem;   
    }
    .form{
        padding:7rem 15rem  0 15rem;
    }
   
    .banner__container{
        height: 100%;

    }
   
   
    
}
.text-footer--banner{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}