.content-devide.page{
    .banner__container{
        height: initial;

    }
    .banner__title {
        font-weight: 400;
        color: #494F66;
    }
    .banner__texts {
        padding: 5rem 0;
        background-color: #F7F8FC;
    }
    .form__title{
        font-size: 2rem;
        color: #494F66;
        padding-bottom: 2.5rem;
    }
    .container.form{
        padding-top: 5rem;
    }
}